In [ ]:
# Variable :--
# Naming Conventions:--

# 1) alphanumeric Charcaters and underscore Characters
# _abc
# a_b_c
# abc
# abc_

# 2) A variable cannot begin with Number
# 45abc
# 87bc
# 78nsjdj

# _546sjas

# age =
# Name =
# Hobby =

# 3) Variables are case Sensitive:--
# age =
# AGE =

# Independent
# IndePendent


# 4) variables names should not  be reserved word or Keywords

# and =
# not
# and
# True
# False
# or
# for while
# if else if elif



# 5) No special characters are  used except underscore in variable declaration

# ! , @ , # , $ , % , ^ , & , * , ( , ) , - , +  , =

# Except _abc =

# 6) If your Variable is too long then write in single word dont put a gap in letters

# mynameisthisandthis =
# my_name_is_this_and_this =


# 7) Variables can be of  Unlimited length

In [ ]:
Comments :--
a = 57 #I've stored integer number in my variable a

Comments are of two types :-
Single Line Comments :-- # This is single line comments
Multiple Line Comments :-

"""
This
is
Multiple
Line
Comments

"""

In [ ]:
#Basics of Python

# DataType :-
# Standard DataType :--

# Numbers
# String
# List
# Tuple
# Dictionary
# Boolean
# Set

In [ ]:
#Boolean (True / False)

In [ ]:
#Numbers :--
# Sub Datatypes :--
# 1) Integers (int datatype)
#     whole numbers values

a = 57
b = 76  # 76 is stored in b not like  b is equal to 76

print(a)

print(b)

print(a , b)

# I want to see it which type of data or value is stored in varaible

# type() :- its is function to determine the type of variable
print(type(a))

print(type(a) , a , type(b) , b)

57
76
57 76
<class 'int'> 57 <class 'int'> 76

In [ ]:
# Floating point numbers(float Data Type):--
# E.g -0.5 , -3.14 , 256.32 ,-2.365 , -1350.0000 , 5610.234


float_1_negative = -0.5
float_2_positive = 5610.234



print(float_1_negative)

print(float_2_positive)


print(type(float_1_negative))



print(72e4)

# 72000
# 72000.00
# 72000.0
# Error


print(72e-3)

-0.5
5610.234
<class 'float'>
720000.0
0.072

In [ ]:
# Complex Numbers(complex Data type)

complex_nos = 3+4j

com_nos2 = 5j

print(com_nos2)

print(complex_nos)

print(complex_nos.real)

print(complex_nos.imag)

print(complex_nos.conjugate)

print(type(com_nos2))

5j
(3+4j)
3.0
4.0
<built-in method conjugate of complex object at 0x7c92dd0a83f0>
<class 'complex'>

In [ ]:
#String Data Type(str Data Type):--
# What is String?
#    String is collection of Characters(a , b , c , A, ,B , C, 4,5,8,9,!, @, # ,$)
#    that is enclosed in single Quotes or Double Quotes

s1 = "Hello" # This is Double-Quoted String
print(s1)

s2 = 'Hello'  # This is Single-Quoated String
print(s2)

print(type(s1))

print(type(s2))


# int Age = 30

# string name = "Hi"

# Declaration and Assignment

# a;  #Declaration :- we dont store any kind of data or value
# a = 10 #Assignment  :- We have Decalare the variable and we have given some data in that variable

Name = "Ganesh"
Age = 30


print(Name)
print(Age)


print("My name is ", Name , "and my age is ", Age)

Hello
Hello
<class 'str'>
<class 'str'>
Ganesh
30
My name is  Ganesh and my age is  30

In [ ]:
#List[] (list DataType):-- It is an Order Collection of Items  and it is mutable
Ganes_EmpId = 41054

Piyus_EmpId = 454812

Priyanka_Empid = 455564

Emp_Ids_TATA  = [1,2,3,4,5,6,7,8,9,10]

Emp_Ids_infosys = [11,12,13,14,15,16,17,18,19,20]

Emp_Ids_Tesla = [100,200,300,400,500,600,700,800,900,1000]

Emp_Ids_TATA_infosys_Tesla = [[1,2,3,4,5,6,7,8,9,10] ,[11,12,13,14,15,16,17,18,19,20] ,[100,200,300,400,500,600,700,800,900,1000  ]]

print("The Employee IDs for TATA Company :--" ,Emp_Ids_TATA )


print(type(Emp_Ids_TATA_infosys_Tesla))

The Employee IDs for TATA Company :-- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [ ]:
# Tuple() DataType (tuple Data Type):--
#   It is an Ordered Sequence of items same as list  and tuple is immutable

tuple_items = (11,2002,13,14,15,16,17,18,19,20)

print(tuple_items)

print(type(tuple_items))

(11, 2002, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [ ]:
#Dictionary{} (dict datatype) :--
  #  It is an unordered Collection of Key-Value Pairs

dictionary= {"Name":"Ganesh" , "Age":54}

print(dictionary)


print(type(dictionary))

{'Name': 'Ganesh', 'Age': 54}
<class 'dict'>

In [ ]:
#SET :--
    #  It is Unordered Collection of Items
    #  Every element/ items /values / datas inside the set  it must be unique


sets = {1,2,3,4,5,6 , 6,6,6,6,5,5,5,4,4,4,9,93,3,2,1,5}


LIST = [1,2,3,4,5,6 , 6,6,6,6,5,5,5,4,4,4,9,93,3,2,1,5]
print(type(sets))

print(sets)

days = {"Mon" , "Tues" ,"Weds" , "Thurs" , "Fri" , "Sat" ,"Sun" ,"Mon"}

print(days)

print(LIST)

<class 'set'>
{1, 2, 3, 4, 5, 6, 9, 93}
{'Sun', 'Mon', 'Weds', 'Tues', 'Thurs', 'Sat', 'Fri'}
[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 5, 5, 5, 4, 4, 4, 9, 93, 3, 2, 1, 5]

In [ ]:
# Assignment Questions:--

In [1]:
#Question-1
# Create five Numbers  Variables and Assign Some Values in it and display the Output of  that Variables

A = 6+7
B = A+6
C = A+B+7
D = A+B+C
E = A+D

print(E)

84

In [3]:
#Question-2
# Create Five String Variables and Assigns Some Values in it and display the Output of that Variables
name = "Ghanshyam"
age = 21
classs = "TYBA"
college = "DY Patil"
address = "Pimpri"

print("My name is", name ,"I'm", age, "years old and i study in class",classs,"in college",college,"at",address )

My name is Ghanshyam I'm 21 years old and i study in class TYBA in college DY Patil at Pimpri

In [7]:
#Question-3
# Store Days of the week  in One Variable

days = ("monday","tuesday","wednesday","thursday","friday","saturday","sunday")

print(days)

#Question-4
# Store at least 10  Floating point Number in one Variable

floating_point_number = [1.2,1.5,5.6,-6.2,2.5,8.6,9.5,-9.8,8.6,7.2,7.8 ]

print(floating_point_number)

('monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday')
[1.2, 1.5, 5.6, -6.2, 2.5, 8.6, 9.5, -9.8, 8.6, 7.2, 7.8]

In [33]:
#Question-5
# Create a Dictionary to store the data of Square of the Given Nos upto 10


square = {i:i*i for  i in (1,2,3,4,5,6,7,8,9,10)}
print(square)

n = int(input("enter"))
square = {n:n*n}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
enter99
{99: 9801}

In [11]:
#Question-6
# Create Five SET Variables and Assigns Some Values in it and display the Output of that Variables

A = {1,2,5,5,46,4,45}
B = {1,4,79,4,1,54,8}
C = {1,45,4,554,1}
D = {1,54,87,51,5}
E = {1,54,5,1,4,4}

print(A,B,C,D,E)

{1, 2, 4, 5, 45, 46} {1, 4, 54, 8, 79} {1, 554, 4, 45} {1, 51, 5, 54, 87} {1, 4, 5, 54}

In [8]:
#Question-7
# Create Five Tuples Variables and Assigns Some Values in it and display the Output of that Variables
a = (1,2,3,4,5,6)
b = (6,4,8,4,5,5)
c = (7,8,94,6,5,7)
d = (8,5,2,4,7,5)
e = (341,65,4,5,8,5)

print(a+b+c+d+e)

(1, 2, 3, 4, 5, 6, 6, 4, 8, 4, 5, 5, 7, 8, 94, 6, 5, 7, 8, 5, 2, 4, 7, 5, 341, 65, 4, 5, 8, 5)

In [21]:
#Question-8
# a = 72e3
# What is the meaning of a ?
a = 72000.0
print(72e3)

72000.0

In [22]:
#Question-9
# b = 72e-5
# What is the meaning of a ?

b= 0.00072

print(72e-5)

0.00072

In [46]:
#Question-10

# Create Five different data types of variables and Show the type of the variable:-
set = {1,2,1,2,3,5,4,85,85,1,5,62}   #set datatype
print(set)
print(type(set))

#dictionary
dictionary = {"name":"ghanshyam","age":21}
print("My name is",name,"and my age is",age)
print(type(dictionary))

#list
list = [1,2,3,4,5,6,7,8]
print(list)
print(type(list))

#tuple
b= (1,1,2,2,3,3,4,4,5,5,6,6,8,8,5)
print(b)
print(type(b))

#string
a = "ghanshyam"
b = 21
print("my name is",a, "and my age is",b)
print(type(a))

{1, 2, 3, 4, 5, 85, 62}
<class 'set'>
My name is Ghanshyam and my age is 21
<class 'dict'>
[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>
(1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 8, 8, 5)
<class 'tuple'>
my name is ghanshyam and my age is 21
<class 'str'>